[View in Colaboratory](https://colab.research.google.com/github/Liamito/Week1_public/blob/master/Challenge_Project_STUDENT_(2).ipynb)

# Week 1 Challenge Project
### Lyle Lalunio
---
Hypothyroidism, also called underactive thyroid or low thyroid, is a disorder of the endocrine system in which the thyroid gland does not produce enough thyroid hormone. It can cause a number of symptoms, such as poor ability to tolerate cold, a feeling of tiredness, constipation, depression, and weight gain. Occasionally there may be swelling of the front part of the neck due to goitre. Untreated hypothyroidism during pregnancy can lead to delays in growth and intellectual development in the baby or cretinism.

Worldwide, too little iodine in the diet is the most common cause of hypothyroidism. In countries with enough iodine in the diet, the most common cause of hypothyroidism is the autoimmune condition Hashimoto's thyroiditis. Less common causes include: previous treatment with radioactive iodine, injury to the hypothalamus or the anterior pituitary gland, certain medications, a lack of a functioning thyroid at birth, or previous thyroid surgery. The diagnosis of hypothyroidism, when suspected, can be confirmed with blood tests measuring thyroid-stimulating hormone (TSH) and thyroxine levels.

Worldwide about one billion people are estimated to be iodine deficient; however, it is unknown how often this results in hypothyroidism. In the United States, hypothyroidism occurs in 0.3â€“0.4% of people.

And that is why we iodize salt.

![alt text](https://www.mayoclinic.org/-/media/kcms/gbs/patient-consumer/images/2013/11/15/17/39/ds00181_-ds00344_-ds00353_-ds00491_-ds00492_-ds00567_-ds00660_-my00709_im01872_thyroid_gif.jpg)

Background: Doctors all around the world need our help to predict whether a patient has hypothyroid disease. We have already overspent our budget to collect such complete data on about 30 attributes for 2800 patients--a good starting number, but a larger sample would certainly be preferred. Moving forward, however, we simply cannot afford to spend so much money on data collection. Therefore, we also need to determine which attributes are the most meaningful to the predictive models, and cut out the rest that don't contribute much. 

The boss wants to see a **balanced** model that can predict with a **high sensitivity** and **high specificity** while using a ***low amount of features***. Collecting complete data such as this is very rare, very time-consuming, and often very expensive. By minimizing the number of features, it will optimize future data collection by deciding what needs to be collected, and what doesn't.

## Loading the data

In [426]:
import pandas as po
### Your code here
url = "https://raw.githubusercontent.com/BeaverWorksMedlytics/datasets/master/allhypo.train.data.csv"

dataset = po.read_csv(url)
dataset.head(20)

,Age,Sex,On thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4u,FTI measured,FTI,TBG measured,TBG,referral source,class
0,41,F,f,f,f,f,f,f,f,f,...,t,125,t,1.14,t,109,f,?,SVHC,negative.|3733
1,23,F,f,f,f,f,f,f,f,f,...,t,102,f,?,f,?,f,?,other,negative.|1442
2,46,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,120,f,?,other,negative.|2965
3,70,F,t,f,f,f,f,f,f,f,...,t,175,f,?,f,?,f,?,other,negative.|806
4,70,F,f,f,f,f,f,f,f,f,...,t,61,t,0.87,t,70,f,?,SVI,negative.|2807
5,18,F,t,f,f,f,f,f,f,f,...,t,183,t,1.3,t,141,f,?,other,negative.|3434
6,59,F,f,f,f,f,f,f,f,f,...,t,72,t,0.92,t,78,f,?,other,negative.|1595
7,80,F,f,f,f,f,f,f,f,f,...,t,80,t,0.7,t,115,f,?,SVI,negative.|1367
8,66,F,f,f,f,f,f,f,f,f,...,t,123,t,0.93,t,132,f,?,SVI,negative.|1787
9,68,M,f,f,f,f,f,f,f,f,...,t,83,t,0.89,t,93,f,?,SVI,negative.|2534
10,84,F,f,f,f,f,f,f,f,f,...,t,115,t,0.95,t,121,f,?,SVI,negative.|1485
11,67,F,t,f,f,f,f,f,f,f,...,t,152,t,0.99,t,153,f,?,other,negative.|3448
12,71,F,f,f,f,t,f,f,f,f,...,t,171,t,1.13,t,151,f,?,other,negative.|1027
13,59,F,f,f,f,f,f,f,f,f,...,t,97,t,0.91,t,107,f,?,SVI,negative.|3331
14,28,M,f,f,f,f,f,f,f,f,...,t,109,t,0.91,t,119,f,?,SVHC,negative.|2043
15,65,F,f,f,f,f,f,f,f,t,...,t,99,t,1.14,t,87,f,?,other,compensated hypothyroid.|3169
16,42,?,f,f,f,f,f,f,f,f,...,t,70,t,0.86,t,81,f,?,other,negative.|2755
17,63,F,f,f,f,f,f,f,f,f,...,t,117,t,0.96,t,121,f,?,SVI,negative.|1010
18,80,F,f,f,f,f,f,f,f,f,...,t,99,t,0.95,t,104,f,?,SVI,negative.|803
19,28,M,f,f,f,f,f,f,f,f,...,t,121,t,0.94,t,130,f,?,SVHC,negative.|2297

Let's read the data into a Pandas dataframe and look at the first 20 records.

Great, looks like the data loaded in properly. Let's continue looking at some summary statistics on our data.

## Viewing summary statistics
The functions describe() and info() are your friends

In [427]:
dataset.describe()

,Age,Sex,On thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,TT4 measured,TT4,T4U measured,T4u,FTI measured,FTI,TBG measured,TBG,referral source,class
count,2800,2800,2800,2800,2800,2800,2800,2800,2800,2800,...,2800,2800,2800,2800,2800,2800,2800,2800,2800,2800
unique,94,3,2,2,2,2,2,2,2,2,...,2,218,2,139,2,210,1,1,5,2800
top,59,F,f,f,f,f,f,f,f,f,...,t,?,t,?,t,?,f,?,other,negative.|1955
freq,75,1830,2470,2760,2766,2690,2759,2761,2752,2637,...,2616,184,2503,297,2505,295,2800,2800,1632,1

In [428]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2800 entries, 0 to 2799
Data columns (total 29 columns):
Age                          2800 non-null object
Sex                          2800 non-null object
On thyroxine                 2800 non-null object
query on thyroxine           2800 non-null object
on antithyroid medication    2800 non-null object
sick                         2800 non-null object
pregnant                     2800 non-null object
thyroid surgery              2800 non-null object
I131 treatment               2800 non-null object
query hypothyroid            2800 non-null object
query hyperthyroid           2800 non-null object
lithium                      2800 non-null object
goitre                       2800 non-null object
tumor                        2800 non-null object
psych                        2800 non-null object
TSH measured                 2800 non-null object
TSH                          2800 non-null object
T3 measured                  2800 non-null object
T3                           2800 non-null object
TT4 measured                 2800 non-null object
TT4                          2800 non-null object
T4U measured                 2800 non-null object
T4u                          2800 non-null object
FTI measured                 2800 non-null object
FTI                          2800 non-null object
TBG measured                 2800 non-null object
TBG                          2800 non-null object
referral source              2800 non-null object
class                        2800 non-null object
dtypes: object(29)
memory usage: 634.5+ KB

Note the data types are all objects--even columns that are obviously numeric like Age.

## Data cleaning

To start, let's make all the numerical columns contain the correct type of values and change the data type of those columns to numeric. Let's also replace all those question marks with the median of the respective column.

Hint: To make it easier, first try converting all the "?" to NaN.

In [429]:
import numpy as np
numeric_columns = list(["Age","TSH","T3","TT4","T4u","FTI"])

try:
  dataset = dataset.drop(["TBG","TBG measured"],axis=1)

#will get cranky if it tries to drop columns that don't exist
except:
  print("You already dropped those...")

#setting ? values to NaN

dataset[dataset=="?"] = np.nan
numeric_dataset = dataset[["Age","TSH","T3","TT4","T4u","FTI"]]
dataset[numeric_columns] = dataset[numeric_columns].fillna(numeric_dataset.median())



#convert the numeric value columns from strings to numeric
for col in numeric_columns:
  dataset[col] = dataset[col].apply(po.to_numeric)

dataset.head(20)

,Age,Sex,On thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3 measured,T3,TT4 measured,TT4,T4U measured,T4u,FTI measured,FTI,referral source,class
0,41.0,F,f,f,f,f,f,f,f,f,...,t,2.5,t,125.0,t,1.14,t,109.0,SVHC,negative.|3733
1,23.0,F,f,f,f,f,f,f,f,f,...,t,2.0,t,102.0,f,0.98,f,107.0,other,negative.|1442
2,46.0,M,f,f,f,f,f,f,f,f,...,f,2.0,t,109.0,t,0.91,t,120.0,other,negative.|2965
3,70.0,F,t,f,f,f,f,f,f,f,...,t,1.9,t,175.0,f,0.98,f,107.0,other,negative.|806
4,70.0,F,f,f,f,f,f,f,f,f,...,t,1.2,t,61.0,t,0.87,t,70.0,SVI,negative.|2807
5,18.0,F,t,f,f,f,f,f,f,f,...,f,2.0,t,183.0,t,1.30,t,141.0,other,negative.|3434
6,59.0,F,f,f,f,f,f,f,f,f,...,f,2.0,t,72.0,t,0.92,t,78.0,other,negative.|1595
7,80.0,F,f,f,f,f,f,f,f,f,...,t,0.6,t,80.0,t,0.70,t,115.0,SVI,negative.|1367
8,66.0,F,f,f,f,f,f,f,f,f,...,t,2.2,t,123.0,t,0.93,t,132.0,SVI,negative.|1787
9,68.0,M,f,f,f,f,f,f,f,f,...,t,1.6,t,83.0,t,0.89,t,93.0,SVI,negative.|2534
10,84.0,F,f,f,f,f,f,f,f,f,...,t,2.2,t,115.0,t,0.95,t,121.0,SVI,negative.|1485
11,67.0,F,t,f,f,f,f,f,f,f,...,f,2.0,t,152.0,t,0.99,t,153.0,other,negative.|3448
12,71.0,F,f,f,f,t,f,f,f,f,...,t,3.8,t,171.0,t,1.13,t,151.0,other,negative.|1027
13,59.0,F,f,f,f,f,f,f,f,f,...,t,1.7,t,97.0,t,0.91,t,107.0,SVI,negative.|3331
14,28.0,M,f,f,f,f,f,f,f,f,...,t,1.8,t,109.0,t,0.91,t,119.0,SVHC,negative.|2043
15,65.0,F,f,f,f,f,f,f,f,t,...,f,2.0,t,99.0,t,1.14,t,87.0,other,compensated hypothyroid.|3169
16,42.0,NaN,f,f,f,f,f,f,f,f,...,t,1.8,t,70.0,t,0.86,t,81.0,other,negative.|2755
17,63.0,F,f,f,f,f,f,f,f,f,...,t,1.2,t,117.0,t,0.96,t,121.0,SVI,negative.|1010
18,80.0,F,f,f,f,f,f,f,f,f,...,t,1.6,t,99.0,t,0.95,t,104.0,SVI,negative.|803
19,28.0,M,f,f,f,f,f,f,f,f,...,t,2.6,t,121.0,t,0.94,t,130.0,SVHC,negative.|2297

Hmm, still looks like the TBG column is unfilled, implying it was empty to begin with. Let's get rid of this column, then (and make sure to get rid of it in your list of numeric columns, too!)

In [0]:
### did above

All right, let's take a look now at the info of *just the numeric columns* in the dataset:

In [431]:
dataset[numeric_columns].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2800 entries, 0 to 2799
Data columns (total 6 columns):
Age    2800 non-null float64
TSH    2800 non-null float64
T3     2800 non-null float64
TT4    2800 non-null float64
T4u    2800 non-null float64
FTI    2800 non-null float64
dtypes: float64(6)
memory usage: 131.3 KB

Perfect, now let's fix that class feature. According to the note the data collectors included with this data, the ".|####" refers to a patient number, and is not necessarily relevant for our purposes here.

In [432]:
### Your code here

# Create example DataFrame

dataset['class'] = dataset['class'].str.replace('\d+', '')
dataset['class'] = dataset['class'].str.replace('|', '')
dataset['class'] = dataset['class'].str.replace('.', '')

dataset['class'].head(20)

0                    negative
1                    negative
2                    negative
3                    negative
4                    negative
5                    negative
6                    negative
7                    negative
8                    negative
9                    negative
10                   negative
11                   negative
12                   negative
13                   negative
14                   negative
15    compensated hypothyroid
16                   negative
17                   negative
18                   negative
19                   negative
Name: class, dtype: object

Let's run the describe() function on just the "class" column.

In [433]:
dataset['class'].describe()

count         2800
unique           4
top       negative
freq          2580
Name: class, dtype: object

It looks like there are actually 4 unique classification variables! Thank goodness we didn't assume it was binary.

Display all the unique values in the class column.

In [434]:
### Your code here
output = []
for x in dataset['class']:
    if x not in output:
        output.append(x)
print (output)

['negative', 'compensated hypothyroid', 'primary hypothyroid', 'secondary hypothyroid']

But let's make it binary for the sake of this example anyway. If you finish early later on, try the multiclass classifier with all 4 values!

In [435]:
### Your code here
dataset.loc[dataset['class'] != 'negative', 'class'] = 0
dataset.loc[dataset['class'] == 'negative', 'class'] = 1
dataset.head(20)

,Age,Sex,On thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3 measured,T3,TT4 measured,TT4,T4U measured,T4u,FTI measured,FTI,referral source,class
0,41.0,F,f,f,f,f,f,f,f,f,...,t,2.5,t,125.0,t,1.14,t,109.0,SVHC,1
1,23.0,F,f,f,f,f,f,f,f,f,...,t,2.0,t,102.0,f,0.98,f,107.0,other,1
2,46.0,M,f,f,f,f,f,f,f,f,...,f,2.0,t,109.0,t,0.91,t,120.0,other,1
3,70.0,F,t,f,f,f,f,f,f,f,...,t,1.9,t,175.0,f,0.98,f,107.0,other,1
4,70.0,F,f,f,f,f,f,f,f,f,...,t,1.2,t,61.0,t,0.87,t,70.0,SVI,1
5,18.0,F,t,f,f,f,f,f,f,f,...,f,2.0,t,183.0,t,1.30,t,141.0,other,1
6,59.0,F,f,f,f,f,f,f,f,f,...,f,2.0,t,72.0,t,0.92,t,78.0,other,1
7,80.0,F,f,f,f,f,f,f,f,f,...,t,0.6,t,80.0,t,0.70,t,115.0,SVI,1
8,66.0,F,f,f,f,f,f,f,f,f,...,t,2.2,t,123.0,t,0.93,t,132.0,SVI,1
9,68.0,M,f,f,f,f,f,f,f,f,...,t,1.6,t,83.0,t,0.89,t,93.0,SVI,1
10,84.0,F,f,f,f,f,f,f,f,f,...,t,2.2,t,115.0,t,0.95,t,121.0,SVI,1
11,67.0,F,t,f,f,f,f,f,f,f,...,f,2.0,t,152.0,t,0.99,t,153.0,other,1
12,71.0,F,f,f,f,t,f,f,f,f,...,t,3.8,t,171.0,t,1.13,t,151.0,other,1
13,59.0,F,f,f,f,f,f,f,f,f,...,t,1.7,t,97.0,t,0.91,t,107.0,SVI,1
14,28.0,M,f,f,f,f,f,f,f,f,...,t,1.8,t,109.0,t,0.91,t,119.0,SVHC,1
15,65.0,F,f,f,f,f,f,f,f,t,...,f,2.0,t,99.0,t,1.14,t,87.0,other,0
16,42.0,NaN,f,f,f,f,f,f,f,f,...,t,1.8,t,70.0,t,0.86,t,81.0,other,1
17,63.0,F,f,f,f,f,f,f,f,f,...,t,1.2,t,117.0,t,0.96,t,121.0,SVI,1
18,80.0,F,f,f,f,f,f,f,f,f,...,t,1.6,t,99.0,t,0.95,t,104.0,SVI,1
19,28.0,M,f,f,f,f,f,f,f,f,...,t,2.6,t,121.0,t,0.94,t,130.0,SVHC,1

Before we move on, let's not forget to run the describe() function on just  your categorical columns, too.
Compare it to the describe() that your numeric columns produce.

In [436]:
### Your code here
dataset.describe(include='all')

,Age,Sex,On thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3 measured,T3,TT4 measured,TT4,T4U measured,T4u,FTI measured,FTI,referral source,class
count,2800.000000,2690,2800,2800,2800,2800,2800,2800,2800,2800,...,2800,2800.000000,2800,2800.000000,2800,2800.000000,2800,2800.000000,2800,2800.000000
unique,NaN,2,2,2,2,2,2,2,2,2,...,2,NaN,2,NaN,2,NaN,2,NaN,5,NaN
top,NaN,F,f,f,f,f,f,f,f,f,...,t,NaN,t,NaN,t,NaN,t,NaN,other,NaN
freq,NaN,1830,2470,2760,2766,2690,2759,2761,2752,2637,...,2215,NaN,2616,NaN,2503,NaN,2505,NaN,1632,NaN
mean,51.845000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.019750,NaN,108.739071,NaN,0.996012,NaN,110.388893,NaN,0.921429
std,20.457545,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.733453,NaN,34.232448,NaN,0.183871,NaN,31.124591,NaN,0.269117
min,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.050000,NaN,2.000000,NaN,0.310000,NaN,2.000000,NaN,0.000000
25%,36.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.700000,NaN,89.000000,NaN,0.890000,NaN,95.000000,NaN,1.000000
50%,54.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.000000,NaN,104.000000,NaN,0.980000,NaN,107.000000,NaN,1.000000
75%,67.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,2.300000,NaN,123.000000,NaN,1.070000,NaN,122.000000,NaN,1.000000
max,455.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,10.600000,NaN,430.000000,NaN,2.120000,NaN,395.000000,NaN,1.000000

Great! Let's see if there's any other records we have to address. count() is a nice way to check if we have any other missing values.

In [437]:
dataset.count()

Age                          2800
Sex                          2690
On thyroxine                 2800
query on thyroxine           2800
on antithyroid medication    2800
sick                         2800
pregnant                     2800
thyroid surgery              2800
I131 treatment               2800
query hypothyroid            2800
query hyperthyroid           2800
lithium                      2800
goitre                       2800
tumor                        2800
psych                        2800
TSH measured                 2800
TSH                          2800
T3 measured                  2800
T3                           2800
TT4 measured                 2800
TT4                          2800
T4U measured                 2800
T4u                          2800
FTI measured                 2800
FTI                          2800
referral source              2800
class                        2800
dtype: int64

We could replace the missing values in proportion to the current number of males and females over the total, but that is making an assumption we don't have to make. For now, let's simply cut the records of all these sexless people out of our data.

In [438]:
### Your code here
dataset = dataset[po.notnull(dataset['Sex'])]
dataset.head(20)

,Age,Sex,On thyroxine,query on thyroxine,on antithyroid medication,sick,pregnant,thyroid surgery,I131 treatment,query hypothyroid,...,T3 measured,T3,TT4 measured,TT4,T4U measured,T4u,FTI measured,FTI,referral source,class
0,41.0,F,f,f,f,f,f,f,f,f,...,t,2.5,t,125.0,t,1.14,t,109.0,SVHC,1
1,23.0,F,f,f,f,f,f,f,f,f,...,t,2.0,t,102.0,f,0.98,f,107.0,other,1
2,46.0,M,f,f,f,f,f,f,f,f,...,f,2.0,t,109.0,t,0.91,t,120.0,other,1
3,70.0,F,t,f,f,f,f,f,f,f,...,t,1.9,t,175.0,f,0.98,f,107.0,other,1
4,70.0,F,f,f,f,f,f,f,f,f,...,t,1.2,t,61.0,t,0.87,t,70.0,SVI,1
5,18.0,F,t,f,f,f,f,f,f,f,...,f,2.0,t,183.0,t,1.30,t,141.0,other,1
6,59.0,F,f,f,f,f,f,f,f,f,...,f,2.0,t,72.0,t,0.92,t,78.0,other,1
7,80.0,F,f,f,f,f,f,f,f,f,...,t,0.6,t,80.0,t,0.70,t,115.0,SVI,1
8,66.0,F,f,f,f,f,f,f,f,f,...,t,2.2,t,123.0,t,0.93,t,132.0,SVI,1
9,68.0,M,f,f,f,f,f,f,f,f,...,t,1.6,t,83.0,t,0.89,t,93.0,SVI,1
10,84.0,F,f,f,f,f,f,f,f,f,...,t,2.2,t,115.0,t,0.95,t,121.0,SVI,1
11,67.0,F,t,f,f,f,f,f,f,f,...,f,2.0,t,152.0,t,0.99,t,153.0,other,1
12,71.0,F,f,f,f,t,f,f,f,f,...,t,3.8,t,171.0,t,1.13,t,151.0,other,1
13,59.0,F,f,f,f,f,f,f,f,f,...,t,1.7,t,97.0,t,0.91,t,107.0,SVI,1
14,28.0,M,f,f,f,f,f,f,f,f,...,t,1.8,t,109.0,t,0.91,t,119.0,SVHC,1
15,65.0,F,f,f,f,f,f,f,f,t,...,f,2.0,t,99.0,t,1.14,t,87.0,other,0
17,63.0,F,f,f,f,f,f,f,f,f,...,t,1.2,t,117.0,t,0.96,t,121.0,SVI,1
18,80.0,F,f,f,f,f,f,f,f,f,...,t,1.6,t,99.0,t,0.95,t,104.0,SVI,1
19,28.0,M,f,f,f,f,f,f,f,f,...,t,2.6,t,121.0,t,0.94,t,130.0,SVHC,1
20,51.0,F,t,f,f,f,f,f,f,f,...,f,2.0,t,130.0,t,0.86,t,151.0,other,1

Nice! Now we have a pretty clean dataset to work with. Let's now do some further data analysis and visualization to better understand what we're working with.

## Data analysis and visualization

Check the correlation of the dataset

In [442]:
### Your code here
dataset.corr()

            Age       TSH        T3       TT4       T4u       FTI     class
Age    1.000000 -0.033569 -0.224286 -0.050343 -0.155124  0.040092  0.008215
TSH   -0.033569  1.000000 -0.155681 -0.259671  0.066218 -0.295188 -0.441618
T3    -0.224286 -0.155681  1.000000  0.514505  0.424036  0.312070  0.167724
TT4   -0.050343 -0.259671  0.514505  1.000000  0.431904  0.781832  0.268986
T4u   -0.155124  0.066218  0.424036  0.431904  1.000000 -0.167147 -0.031880
FTI    0.040092 -0.295188  0.312070  0.781832 -0.167147  1.000000  0.292745
class  0.008215 -0.441618  0.167724  0.268986 -0.031880  0.292745  1.000000

Convert the class feature to numeric so we can also see the correlations it has with the numeric features, and check the correlation again.

In [0]:
import pandas as po
### Your code here

Let's do some further visual analysis using a new module called seaborn. Explore its incredible versatility and diversity with data visualization here: https://seaborn.pydata.org/

In [441]:
import seaborn as sns
sns.pairplot(copy)

NameError: ignored

OK! I think we're ready to create and select some supervised learning models. To get the ball rolling, select Age and Sex as our explanatory features (and class as the target feature, obviously).

## Model training and selection

Let's dummy the categorical variables (but not the class value!) and view the column names to select some for our model.

In [0]:
### Your code here

All right, let's now split our data into training and testing in an 80-20 split. For consistency, let's all use a seed of 8675309.

In [0]:
from sklearn.model_selection import train_test_split

## Your code here

For reusability, let's make a logistic regression function that will take our training and testing data as arguments. Inside the function, build a model on your training data, fit it with your training class data, and return a list of your predictions.

In [0]:
from sklearn import metrics
from sklearn.linear_model import LogisticRegression

def log_reg(train_X,train_Y,test_X,test_Y):

  ### Your code here

Fantastic, we have just built a logistic regression model! Let's go see how well it performs.

### Model evaluation

To start, let's establish the baseline performance. This is important because it provides a starting point of comparison for later evaluation methods, like accuracy.

A good baseline model to use is the Zero Rule algorithm. In classification problems, it simply predicts the class value with the greatest number of instances every time.

In [0]:
def zero_rule_algorithm_classification(train,test):
  ## Your code here

Get your baseline performance by calculating the accuracy of your Zero Rule algorithm.

In [0]:
## Your code here

So maybe accuracy isn't the best performance measure for this dataset. As you've seen already, even when the models predict "negative" for all the records, we could already achieve a ~92% accuracy. However, that also implies we incorrectly predicted 100% of the positive cases, which in the context of this problem, is fatal.

Thankfully, it isn't the only way to evaluate your model. Let's take a look at a confusion matrix.

![alt text](https://i.imgur.com/uipmEwt.png)

Create a confusion matrix using the logistic regression function you built earlier.

In [0]:
from sklearn.metrics import confusion_matrix
### Your code here


Yet another appropriate metric is the Area Under the Receiver Operator Curve. Specifically, the diagnostic performance of a test, or the accuracy of a test to discriminate diseased cases from normal cases is evaluated using Receiver Operating Characteristic (ROC) curve analysis.

When you consider the results of a particular test in two populations, one population with a disease, the other population without the disease, you will rarely observe a perfect separation between the two groups. Hence, the overlapping areas in the diagram below (FN, FP).

In a Receiver Operating Characteristic (ROC) curve the true positive rate (Sensitivity) is plotted in function of the false positive rate (100-Specificity) for different cut-off points. Each point on the ROC curve represents a sensitivity/specificity pair corresponding to a particular decision threshold. A test with perfect discrimination (no overlap in the two distributions) has a ROC curve that passes through the upper left corner (100% sensitivity, 100% specificity). Therefore the closer the ROC curve is to the upper left corner, the higher the overall accuracy of the test.

![alt text](https://www.medcalc.org/manual/_help/images/roc_intro1.png)

Now, to graph the AUROC curve, we will need to predict probabilities of choosing a specific class value rather than the class value itself. Make a new logistic regression model that does so.

In [0]:
from sklearn.linear_model import LogisticRegression

### Your code here

Now calculate the area under the receiver operator curve with your predictions.

In [0]:
from sklearn import metrics

### Your code here

Now graph the ROC curve using matplotlib, fully labeled.

In [0]:
import matplotlib.pyplot as plt
### Your code here

In conclusion, it looks like this model performed pretty bad. It's probably best to try out different columns or perhaps use a different model before we submit our model for scoring.

# Submitting your Model

Once you believe to have found the best classifier, run your classifier on the test data and make a pickle file containing of your predictions contained a pandas dataframe.

This pandas dataframe will contain three columns for your binary classifier (or 5 columns for the multiclass classifier): the first column should be your model's "best guess" for each patient (either 0 or 1, negative or positive) and the last two columns should be the probability the patient would be classified as either a 0 or 1.

(see below for reference)

In [0]:
#pickling example
import pickle
predictions=po.DataFrame({"guesses":[0,1,0,1],"prob_neg":[.75,.15,.63,.20],"prob_pos":[.25,.85,.27,.80]})
prediction_pickle_path = 'prediction_pickle.pkl'

from google.colab import files
# Create an variable to pickle and open it in write mode
prediction_pickle = open(prediction_pickle_path, 'wb')
pickle.dump(predictions, prediction_pickle)
files.download(prediction_pickle_path)
prediction_pickle.close()

In [0]:
prediction_unpickle = open(prediction_pickle_path, 'rb')
 
# load the unpickle object into a variable
predictions = pickle.load(prediction_unpickle)
 
print(predictions)

   guesses  prob_neg  prob_pos
0        0      0.75      0.25
1        1      0.15      0.85
2        0      0.63      0.27
3        1      0.20      0.80

# Scoring your Model


**Area Under ROC Curve**: A receiver operating characteristic (ROC) curve plots the true positive rate (y) against the false positive rate (x) at many decision threshold settings (output < threshold = 0, output > threshold = 1). The area under this curve represents the probability that a classifier will rank a randomly chosen positive instance higher than a randomly chosen negative one.

**Confusion Matrix**: You will receive a certain number of points for each correct classification and a certain point penalty for each incorrect classification. The points are weighted, and are designed to equate to 0 in a Zero Rule baseline model. This point scheme is designed to punish you heavily for predicting false positives (FP) and false negatives (FN)--FN cases especially. In doing so, we hope you see the importance of clinical considerations and treat your models from a more human perspective, rather than detached from it.

**Real World Cost**: Similar to the confusion matrix, we want you to keep in mind the other aspects of healthcare analytics--in this case, economic feasibility. In essence, we want you to minimize the amount of time and money spent on data collection by reducing the number of features collected. Each record certainly required a lot of time and money from several individuals and businesses to reliably create, and we hope you gain a better understanding of conducting a useful cost-benefit analysis with this scoring method. The full details of the weighted features can be found in the GitHub.

# Moving to the Next Level

For those that finish early, remember how I converted the class values into simply "negative" and "positive"? Now try tackling the multiclass classifier (predicting the different types of positive hypothyroid cases instead of simply negative or positive)! 

The same rules apply!

(And for those that also finish the multiclass classifer, see Lyle for further instructions).